.userinfos > div.shiny-input-container{
  display: inline-block;
  vertical-align: middle;
  width: 4cm ;
  
}

.required-asterix{
  font-size: 2em;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
  color: red;
}

.required-error-message{
  font-size: 0.7em;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
  color: red;
}

h1, h2 {
  text-align: center;
  
}

h3 {
  background-color: silver;
}

#buttons .btn {
  font-size: 2.5em;
  display: inline-block;
  text-align: center;
  
  margin-right: auto;
  border-radius: 15px;
  background-color: SteelBlue;
  width: 30%;
  
}

#message {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}


input[type="number"]:in-range {
	background-color: #b8e0b3;
}
input[type="number"]:out-of-range {
	background-color: #e0b3b3;
}